[Unit]
Description=Necrosato's Home Alert Reverse Tunnel
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=90
User=home-alert
ExecStart=/bin/bash /home/home-alert/home-alert-tunnel.sh

[Install]
WantedBy=multi-user.target
