[Unit]
Description=Necrosato's Home Alert Main Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=main-server
ExecStart=/usr/bin/python3 /home/main-server/main-server/python/main_server.py \
                            -c /home/main-server/main-server/config.yml

[Install]
WantedBy=multi-user.target
