# Default server configuration
#
server {
	listen 80 default_server;
	listen [::]:80 default_server;

	root /var/www/html;

	index index.html;

	server_name _;

  auth_basic "Home Alert Login:";
  auth_basic_user_file /etc/nginx/.htpasswd;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}
{% for main_server in main_servers %}

	# This routes to a main server
	location = /{{ main_server.location }} {
		proxy_pass http://{{ main_server.address }}:{{ main_server.server_port }}/;
	}
	location ~ /{{ main_server.location }}/(.*) {
		proxy_set_header X-Forwarded-Host $host:$server_port;
		proxy_set_header X-Forwarded-Server $host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		resolver 127.0.0.1 [::1];
		set $target http://{{ main_server.address }}:{{ main_server.server_port }}/$1;
		proxy_pass $target;
	}
{% endfor %}
}
