# Default server configuration
#
server {
	listen 80;
	listen [::]:80;
	listen 443;
	listen [::]:443;

	root {{ html_dir }};
	index index.html;

	server_name _;

	auth_basic "Home Alert Login:";
	auth_basic_user_file /etc/nginx/.htpasswd;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}
{% for home_alert_node in home_alert_nodes %}

	# This routes to a Home Alert node
	location = /{{ home_alert_node.location }} {
		proxy_http_version 1.1;
		proxy_pass http://{{ home_alert_node.address }}:{{ home_alert_node.server_port }}/{{ home_alert_node.location }}/;
	}
	location = /{{ home_alert_node.location }}/stream {
		proxy_set_header Host {{ home_alert_node.address }}:{{ home_alert_node.server_port }};
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "keep-alive";
		proxy_http_version 1.1;
		resolver 127.0.0.1 [::1];
		set $target http://{{ home_alert_node.address }}:{{ home_alert_node.server_port }}/{{ home_alert_node.location }}/stream;
		proxy_pass $target;
	}
	location ~ /{{ home_alert_node.location }}/(.*) {
		proxy_set_header Host {{ home_alert_node.address }}:{{ home_alert_node.server_port }};
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_http_version 1.1;
		resolver 127.0.0.1 [::1];
		set $target http://{{ home_alert_node.address }}:{{ home_alert_node.server_port }}/{{ home_alert_node.location }}/$1;
		proxy_pass $target;
	}
{% endfor %}
}
