<!doctype html>
<html>
  <head>
    <title>Home Alert Control Server</title>
  </head>
  <body>
    <h1>Home Alert Control Server<br></h1>
    <p>Installed Home Alert Nodes:<br></p>
  {% for home_alert_node in home_alert_nodes %}
    <a href="/{{ home_alert_node.location }}">{{ home_alert_node.location }}</a><br>
  {% endfor %}
    <br/>
    <a href="/all_streams.html">All Streams</a><br>
  </body>
</html>
